


* { 
	margin: 0.;
	padding: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
 }

body {

	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-family: 'Roboto', 'Helvetica', sans-serif;


}


.cuadro {
	position: relative;
	width: 200px;
	height: auto;
	background-color: black;
	padding: 20px, 10px, 20px, 10px;
	border: 10px  solid blue;
	margin: 20px auto;
	text-align: center;
	
}

.cuadro_mini{

	margin: auto;
	width: 100px;
	height: 100px;
	background-color: red;
	

}

.cuadro_mini2{
	position: relative;
	top: 5px;
	height: 150px;
	background-color: yellow;
}

