


* { 
	margin: 0.;
	border: none;
	padding: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
 }

body {

	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-family: 'Roboto', 'Helvetica', sans-serif;


}


button { 
	background: transparent; 
	border: none;
	padding: 0;
	margin: 0;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}


span { display: inline-block; }

button.bg_white {
	color: #212121;
}

button img {
	vertical-align: middle;
}

button:hover {
	background-color: #FFF !important;
	color: #212121 !important;
	transition: all 0.3s;
}

a { text-decoration: none; }

/*---- SPACING -------------------------- */

.w_100 {
	width: 100% !important;
	height: auto !important;
}

.h_100 {
	width: auto !important;
	height: 100% !important;
}

.button_size40 { width: 40px !important; height: 40px !important; }
.button_size48 { width: 48px !important; height: 48px !important; }
.button_size56 { width: 56px !important; height: 56px !important; }

/* PADDING */
.pd_0{padding: 0 !important;}
.pd_top_0{padding-top: 0 !important;}
.pd_4{padding: 4px;}
.pd_top_4{padding-top: 4px;}
.pd_bottom_4{padding-bottom: 4px;}
.pd_left_4{padding-left: 4px;}
.pd_right_4{padding-right: 4px;}
.pd_8{padding: 8px;}
.pd_top_8{padding-top: 8px;}
.pd_bottom_8{padding-bottom: 8px;}
.pd_left_8{padding-left: 8px;}
.pd_right_8{padding-right: 8px;}
.pd_12{padding: 12px;}
.pd_16{padding: 16px;}
.pd_top_16{padding-top: 16px;}
.pd_bottom_16{padding-bottom: 16px;}
.pd_left_16{padding-left: 16px;}
.pd_right_16{padding-right: 16px;}
.pd_24{padding: 24px;}
.pd_top_24{padding-top: 24px;}
.pd_bottom_24{padding-bottom: 24px;}
.pd_32{padding: 32px;}
.pd_top_32{padding-top: 32px;}
.pd_bottom_32{padding-bottom: 32px;}
.pd_40{padding: 40px;}
.pd_top_40{padding-top: 40px;}
.pd_bottom_40{padding-bottom: 40px;}
.pd_48{padding: 48px;}
.pd_top_48{padding-top: 48px;}
.pd_bottom_48{padding-bottom: 48px;}
.pd_top_56{padding-top: 56px;}
.pd_bottom_56{padding-bottom: 56px;}
.pd_top_12{padding-top: 12px;}
.responsive_padding{padding: 32px 16px 32px 16px;}


/* MARGIN */
.mr_0{margin: 0 !important;}
.mr_top_0{margin-top: 0 !important;}
.mr_bottom_0{margin-bottom: 0 !important;}
.mr_bottom_2{margin-bottom: 2px !important}
.mr_top_4{margin-top: 4px;}
.mr_bottom_4{margin-bottom: 4px;}
.mr_left_4{margin-left: 4px;}
.mr_right_4{margin-right: 4px;}
.mr_8{margin: 8px;}
.mr_top_8{margin-top: 8px;}
.mr_bottom_8{margin-bottom: 8px;}
.mr_left_8{margin-left: 8px;}
.mr_right_8{margin-right: 8px;}
.mr_12{margin: 12px;}
.mr_top_12{margin-top: 12px;}
.mr_bottom_12{margin-bottom: 12px;}
.mr_16{margin: 16px;}
.mr_top_16{margin-top: 16px;}
.mr_bottom_16{margin-bottom: 16px;}
.mr_left_16{margin-left: 16px;}
.mr_right_16{margin-right: 16px;}
.mr_24{margin: 24px;}
.mr_top_24{margin-top: 24px;}
.mr_bottom_24{margin-bottom: 24px;}
.mr_32{margin: 32px;}
.mr_left_32{margin-left: 32px;}
.mr_top_32{margin-top: 32px;}
.mr_bottom_32{margin-bottom: 32px;}
.mr_48{margin: 48px;}
.mr_top_48{margin-top: 48px;}
.mr_bottom_48{margin-bottom: 48px;}

/*--------------------------------------- */


/*---- ALIGMENT --------------------------- */

.text_align_center { text-align: center; }
.text_align_left { text-align: left; }
.text_align_right { text-align: right; }
.text-align_justify { text-align: justify; }
.margin_auto { margin-left: auto; margin-right: auto; display: block; }

.v_align_middle { vertical-align: middle; }
.v_align_top { vertical-align: top; }
.v_align_bottom { vertical-align: bottom; }

.float_left { float: left; }
.float_right { float: right; }

.break_word { word-wrap: break-word; }

/*----------------------------------------- */

/*---- TITLES --------------------------- */

.title_bigger { font-size: 48px; font-weight: lighter; line-height: 46px; }
.title_big { font-size: 40px; font-weight: lighter; line-height: 40px; }
.title_medium { font-size: 36px; font-weight: normal; line-height: 36px; }
.title_small { font-size: 30px; font-weight: normal; line-height: 30px; }
.title_smaller { font-size: 24px; font-weight: normal; line-height: 24px; }

.font_big { font-size: 19px; }
.font_small { font-size: 13px; }
.font_light { font-weight: lighter !important; }
.font_normal { font-weight: normal !important; }
.font_bold { font-weight: bold !important; }

/*--------------------------------------- */

.text_shadow { text-shadow: 0 1px 1px #000; }
.shadow_flat { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); }
.shadow_raised { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24); }

.circle {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}

.icon {
	width: 24px;
	height: 24px;
}

.img_container {
	position: relative;
	overflow: hidden;
}

.img_container img {
	position: absolute;
	height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---- COLORS --------------------------- */

.bg_primary { background-color: #3F51B5 !important; }
.bg_secondary { background-color: #8BC34A !important; }
.bg_white { background-color: #FFF !important; }
.bg_black { background-color: #000 !important; }
.bg_gray { background-color: #e0e0e0 !important; }
.bg_lightgray { background-color: #f5f5f5 !important; }
.bg_darkgray { background-color: #424242 !important; }


.bg_opacity { background-color: rgba(0, 0, 0, 0.5); }


.font_white { color: #FFF !important; }
.font_black { color: #212121 !important; }
.font_gray { color: #727272 !important; }
.font_lightgray { color: #bdbdbd !important; }
.font_red { color: #F44336 !important; }
.font_primary { color: #3F51B5 !important; }
.font_secondary { color: #8BC34A !important; }


.border_white { border: 2px solid #fff; }
.border_bottom { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.bg_white .border_bottom { border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.opacity { opacity: 0.5; }
.hover_black { cursor: pointer; }
.hover_black:hover { background-color: rgba(0, 0, 0, 0.06) !important; }
.hover_dark:hover { background-color: #424242 !important; }
.underline:hover { text-decoration: underline; }

/*--------------------------------------- */

.border_radius { 
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;	
}

.static_col .col_2 {
	display: inline-block;
	width: 50%;
}

.static_col .col_3 {
	display: inline-block;
	width: 33.333333%;
}

.toolbar_back {

	height:56px;
	width: auto; 

}

.toolbar{
	width: 100%;
	height: 56px;
	position: fixed;
	}


.toolbar button.menu_button {

	width: 56px;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}

.toolbar button.menu_button:hover {

	background-color: rgba(0,0,0, 0.1) !important; 

}

.toolbar .toolbar_in {

	width: calc(100% - 56px);	
	position: relative;
	margin-left: 56px;
	height: inherit;
	line-height: 54px;	
}

.toolbar .toolbar_in .logo_container {

	display: none;
	height: inherit;

}


.toolbar .toolbar_in .logo_container h1 {

	line-height: normal;
	display: inline-block;
}

.toolbar .toolbar_in .right_info {
	width: 100%;
	height: inherit;
	display: inline-block;
	text-align: right;
}

.toolbar .toolbar_in .search_bar_container {

	width: 56px;
	height: inherit;
	display: inline-block;
	text-align: center;
	
}


.toolbar .toolbar_in .search_bar_container .search_bar{
	position: absolute;
	width: 100%;
	height: inherit;
	top: 0;
	right: 0;
	max-width: 480px;
	z-index: 2;
	line-height: normal;
}

.toolbar .toolbar_in .search_bar_container .search_bar .text_field {
	
	width: auto;
	height: 44px;
	margin: 6px;
	margin-left: 0px;
	line-height: normal;
position: relative;
	}


.toolbar .toolbar_in .search_bar_container .search_bar .text_field input{
	
	padding-left: 44px;
	padding-right: 44px;
	font-size: 16px;
	height: 100%;
	background: transparent;


	}
.toolbar .toolbar_in .search_bar_container .search_bar .text_field button{
	 
	position:absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: 44px;

}

.toolbar .toolbar_in .search_bar_container .search_bar .text_field button.close{
	 
	left: initial;
	right: 0;
}